/************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************

Filename: style.css
Author: Navkaran Sohi

************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************/


/**********************************************************************
**********************************************************************

==================
Table of Contents
==================
1. HTML Body Styles
2. Heading Styles
3. Main Body Styles
4. Footer Styles



**********************************************************************
**********************************************************************/

/****************************  MAIN STYLES  ***********************************/

/**********************
1. HTML Body Styles
**********************/

body {
    background-color: rgba(45, 35, 32, 0.85)!important;
}

/**********************
2. Heading Styles
**********************/

h1 {
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    color: rgb(234, 151, 87);
    text-align: center;
    margin: 15px 10px;
}

h3 {
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    color: rgb(234, 151, 87);
    text-align: center;
    margin: 15px 10px;
}

/**********************
3. Main Body Styles
**********************/

.non-selectable {
    user-select: none;
  }
  p{
    font-size: 1.5em;
  }

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
    .container {
      padding: 20px;
    }
    body {
        background-color: rgba(80, 226, 80, 0.85)!important;
    }
    .bg-info{
        color: rgb(0, 255, 0);
    }
    .bg-primary{
        color: brown;
    }
    .bg-success{
        color: rgb(18, 18, 16);
    }
    .bg-warning{
     color: tomato;
    }
    .bg-danger{
        color:blueviolet;
    }

  }

  /* Responsive adjustments for medium screens */
  @media (min-width: 768px) and (max-width: 992px) {
    .container {
      padding: 25px;
    }
    body {
        background-color: rgba(74, 88, 164, 0.85)!important;
    }
    .bg-info{
       color: rgb(0, 8, 255);
    }
    .bg-primary{
        color: brown;
    }
    .bg-success{
        color: rgb(255, 0, 200);
    }
    .bg-warning{
        color: tomato;
    }
    .bg-danger{
        color:blueviolet;
    }
  }

  /* Responsive adjustments for large screens */
  @media (min-width: 992px) {
    .container {
      padding: 30px;
    }
    .bg-info{
        color: rgb(255, 0, 166);
    }
    .bg-primary{
        color: rgb(165, 79, 42);
    }
    .bg-success{
        color: rgb(0, 187, 255);
    }
    .bg-warning{
        color: rgb(18, 21, 19);
    }
    .bg-danger{
        color:rgb(226, 153, 43);
    }
}

